@{
	ViewBag.Title = T("WEBSITE_NAME");
}

@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

@section styles {
	<style>
		[main] {
			background-color: #f9f9f9;
		}

		[drawer] {
			background-color: #ffffff;
		}
	</style>
	<link rel="stylesheet" href="/css/app.css">
}

<template is="auto-binding" id="tmpl">
	<core-drawer-panel id="drawerPanel">
		<core-header-panel drawer>
			<core-toolbar>
				<a href="{{urlFor('home')}}">
					<paper-button>
						<core-icon icon="custom-icons:fancy-circles"></core-icon>
						WorkMarketingNet
					</paper-button>
				</a>
			</core-toolbar>
			<core-menu>
				<core-item label="Home" route="home">
					<a href="{{urlFor('home')}}"></a>
				</core-item>
				<core-item label="Portfolio" route="portfolio">
					<a href="{{urlFor('users')}}"></a>
				</core-item>
				<core-item label="Contact" route="contact">
					<a href="{{urlFor('contact')}}"></a>
				</core-item>
				<core-item label="@T("Quotes")" route="quotes">
					<a href="{{urlFor('quotes')}}"></a>
				</core-item>
			</core-menu>
		</core-header-panel>
		<core-header-panel main>
			<core-toolbar>
				<paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
				<div class="bottom indent">{{heading}}</div>
			</core-toolbar>
			<div class="content">
				<more-route-selector selectedparams="{{params}}">
					<core-pages flex>
						<section route="home">
							<h1>Home</h1>
							<div>Home content</div>
						</section>
						<section route="users">
							<h1>Portfolio</h1>
							<div>Portfolio content</div>
							<a href="{{urlFor('user-info', {name: 'Jacek'})}}">Jacek</a>
							<core-list data="{{data}}" flex style="height:500px">
								<template>
									<div class="row" layout horizontal center>
										<core-image class="avatar" src="{{model.avatar}}" preload sizing="cover" style="width: 40px;height: 40px;margin-right: 16px;"></core-image>
										<div>{{model.name}}</div>
									</div>
								</template>
							</core-list>
						</section>
						<section route="user-info">
							<h1>User: {{params.name}}</h1>
							<div>This is {{params.name}}'s section</div>
						</section>
						<section route="contact">
							<h1>Contact</h1>
							<div>Contact content</div>
						</section>
						<section route="quotes">
							<h1>@T("Quotes")</h1>
						</section>
					</core-pages>
				</more-route-selector>
			</div>
		</core-header-panel>
</template>

@section scripts{
	<script src="/lib/faker/build/build/faker.js"></script>
	<script src="/js/app.js"></script>
}
