@using WorkMarketingNet.Quotes.Core.Models

@model IEnumerable<Quote>

@{
	ViewBag.Title = string.Format("{0} &middot WorkMarketingNet", T("Quotes"));
}

@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<h1>@T("Quotes")</h1>
@foreach (var quote in Model)
{
	<blockquote>
		@Html.Raw(quote.Body)
		<small>@quote.Source.Name</small>
	</blockquote>	
}