@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<section data-route="videos">
	<h2 class="paper-font-display2">Videos</h2>
	<wmn-videos-playlist></wmn-videos-playlist>
</section>