@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<section data-route="company-details">
	<h2 class="paper-font-display2">@T("Company")</h2>
	<wmn-company name="{{params.name}}"></wmn-company> @*params is route (url) parameters*@
</section>