<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	@RenderSection("styles", false)
</head>
<body>
	@RenderBody()
	@RenderSection("scripts", false)
</body>
</html>