@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<section data-route="events">
	<h2 class="paper-font-display2">@T("Events")</h2>
	<wmn-events-calendar></wmn-events-calendar>
</section>