@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<section data-route="people">
	<h2 class="paper-font-display2">@T("People")</h2>
	<wmn-people></wmn-people>
</section>