@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<section data-route="wiki-article">
	<h2 class="paper-font-display2">@T("Article")</h2>
	<wmn-wiki-article title="{{params.title}}"></wmn-wiki-article> @*params is route (url) parameters*@
</section>